body{
    font-family: Arial, sans-serif;
    padding: 30px;
}

#menu{
    width: 200px;
    background: lightgray;
    padding: 15px;
    margin-top: 10px;
    display: none;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 8px 0;
}